html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icons-container {
  display: flex;
  //grid-template-columns: 1fr 1fr;
  //grid-auto-rows: min-content;
  gap: 32px;
  background-color: #282c34;
}
.icon-list {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1px;
  padding-bottom: 1px;
  background-color: #eaeaea;
&__item {
   display: flex;
   //width: 100%;
   //height: 100%;
  flex-direction: column;
  gap: 12px 0;
   padding: 10px;
   align-items: center;
   justify-content: center;
   background-color: #ffffff;
  div {
    width: 32px;
    height: 32px;
    background-color: white;
  }
 }
  &__name {
    font-size: 12px;
  }
}

.next-icon {
  width: 32px;
  height: 32px;
  color: orange;
  stroke-width: 1;
}
