html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.header {
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  align-items: center;
  gap: 20px;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.35);
  @media (max-width: 640px) {
    padding: 10px 20px;
    gap: 12px;
  }
}

.search {
  @media (max-width: 640px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  &__input {
    display: block;
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    @media (max-width: 640px) {
      font-size: 18px;
    }
  }
}

.range {
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 20px;
  align-items: center;
  @media (max-width: 640px) {
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 12px;
    grid-template-columns: 1fr 60px;
  }
  &__value {
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    @media (max-width: 640px) {
      font-size: 20px;
    }
  }
  &__input {
    display: block;
    width: 100%;
  }
}
.swatch {
  width: 100px;
  height: 43px;
  padding: 5px;
  background: #ffffff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.25);
  cursor: pointer;
  @media (max-width: 640px) {
    height: 27px;
  }
}

.popover {
  position: absolute;
  top: 76px;
  right: 20px;
  z-index: 2;
}
.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icons-container {
  overflow: hidden;
  display: flex;
  gap: 32px;
  background-color: #282c34;
  @media (max-width: 960px) {
    gap: 16px;
  }

  @media (max-width: 360px) {
    gap: 5px;
  }
}
.icon-list {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #eaeaea;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    @media (max-width: 360px) {
      padding: 10px 5px;
    }
    div {
      width: 32px;
      height: 32px;
      background-color: white;
    }
  }
  &__name {
    display: block;
    min-height: 16px;
    font-size: 12px;
  }
}

.next-icon {
  width: 32px;
  height: 32px;
  color: orange;
  stroke-width: 1;
}
